.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #da8a8a;
}

table {
  color: #254BC4;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #1CD8BE;
}

.header-row {
    background: #254BC4;
    color: rgb(255, 255, 255);
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }